.About {
  width: 100%;
  height: 420px;
  background-color: #0c0c0d;
  padding: 3.5vh;
}

.About__Main {
  margin: auto;
  width: 90%;
  height: 35vh;
  background-color: #1a1a1b;
  border-radius: 18px;
  margin-top: 2vh;
}
.About__Text {
  margin-right: 5vh;
  padding: 2vh;
  font-weight: bold;
  color: white;
  font-size: 4vh;
  display: flex;
  justify-content: center;
}

.About__P1,
.About__P2 {
  font-size: 2.5vh;
  margin: 40px;
  padding-bottom: 3vh;
  padding-left: 15vh;
  padding-right: 10vh;
  color: #ffffff;
}

.About__P1 {
  padding-top: 40px;
}

@media only screen and (max-width: 768px) {
  .About__P2,
  .About__P1 {
    font-size: 2vh;
  }
}
