@font-face {
  font-family: "UbuntuBold";
  src: url("./Fonts/Ubuntu-Bold.ttf");
}
@font-face {
  font-family: "UbuntuMedium";
  src: url("./Fonts/Ubuntu-Medium.ttf");
}
.Featured {
  width: 100%;
  height: 700px;
  background-color: #0c0c0d;
  font-family: UbuntuMedium;
}

.Featured__textWrapper {
  color: #ffffff;
  display: flex;
  justify-content: center;
  font-family: Georgia;
  font-weight: bold;
  font-size: 200%;
  padding-top: 6.5vh;
  padding-bottom: 10vh;
}

.Date {
  font-size: smaller;
}

.Featured__Text {
  font-family: UbuntuBold;
}

.Featured__Button {
  display: flex;
  margin: auto;
  margin-top: 15vh !important ;
  background-color: #2bb296;
  width: 55vh;
  height: 7vh;
  border-radius: 8px;
  color: white;
}

.MuiButton-root {
  font-family: UbuntuBold !important;
  text-transform: none !important;
}

@media only screen and (max-width: 768px) {
  .Featured {
    height: 800px;
  }
}
.Featured__TotalLeft {
  color: white;
  display: flex;
  justify-content: center;
  flex: 0.5;
}
.Featured__IndicatorLeft {
  background-color: #33343c;
  height: 20vh;
  flex: 0.3;
}
.Featured__QuestionLeft {
  background-color: #1a1a1b;
  flex: 0.7;
}
.Featured__TotalRight {
  display: flex;
  flex: 0.5;
  justify-content: center;
}
.Featured__Main {
  display: flex;
  justify-content: center;
}
.Featured__Left,
.Featured__Right {
  display: flex;
}

.Featured__IndicatorLeftTop {
  margin-bottom: 4vh;
}
.Featured__ArrowDown {
  color: #2bb296;
}
.Featured__ArrowUp {
  color: red;
}

#Featured__IndicatorNumber {
  padding: 0.8vh;
}

.Featured__CircularProgress {
  margin-left: 50%;
  color: white !important;
}
