@font-face {
  font-family: "UbuntuBold";
  src: url("./Fonts/Ubuntu-Bold.ttf");
}

@font-face {
  font-family: "UbuntuMedium";
  src: url("./Fonts/Ubuntu-Medium.ttf");
}

.Featured {
  width: 100%;
  height: 700px;
  background-color: #0c0c0d;
  font-family: UbuntuMedium;
}

.Featured__textWrapper {
  color: #ffffff;
  display: flex;
  justify-content: center;
  font-family: Georgia;
  font-weight: bold;
  font-size: 200%;
  padding-top: 6.5vh;
  padding-bottom: 10vh;
}

.Date {
  font-size: smaller;
}

.Featured__Text {
  font-family: UbuntuBold;
}

.Featured__Button {
  display: flex;
  margin: auto;
  margin-top: 5vh !important;
  background-color: #2bb296;
  width: 55vh;
  height: 7vh;
  border-radius: 8px;
  color: white;
}

.MuiButton-root {
  font-family: UbuntuBold !important;
  text-transform: none !important;
}

@media only screen and (max-width: 768px) {
  .Featured {
    height: 800px;
  }
}

.Featured__TotalLeft,
.Featured__TotalRight {
  color: white;
  display: flex;
  justify-content: center;
}

.Featured__IndicatorLeft,
.Featured__IndicatorRight {
  margin-bottom: 5vh;
  background-color: #33343c;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  flex: 0.3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Featured__QuestionLeft,
.Featured__QuestionRight {
  margin-bottom: 5vh;
  background-color: #1a1a1b;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  padding-right: 4rem;
}

.Featured__Question__Header {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.Featured__Question__Username {
  padding-left: 10px;
  margin-right: 4rem;
  align-self: center;
}

.Featured__Question__Date {
  font-size: 0.8rem;
  font-weight: lighter;
  line-height: 1.3rem;
  min-width: 8rem;
  align-self: center;
}

.Featured__Question__Question {
  display: flex;
  padding-left: 10px;
  font-weight: lighter;
}

.Featured__Main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Featured__Question__Separator {
  min-width: 50px;
}

.Featured__Left,
.Featured__Right {
  margin-right: 10vh;
  display: flex;
}

.Featured__ArrowUp {
  color: #2bb296;
}

.Featured__ArrowDown {
  color: red;
}

#Featured__IndicatorNumber {
  padding: 0.8vh;
}
.Featured__CircularProgress {
  margin-left: 48%;
  color: white !important;
}

.Avatar {
  width: 30px !important;
  height: 30px !important;
}
