@font-face {
  font-family: "UbuntuBold";
  src: url("./Fonts/Ubuntu-Bold.ttf");
}
@font-face {
  font-family: "UbuntuMedium";
  src: url("./Fonts/Ubuntu-Medium.ttf");
}
.Featured {
  width: 100%;
  height: 700px;
  background-color: #0c0c0d;
  font-family: UbuntuMedium;
}

.Featured__textWrapper {
  color: #ffffff;
  display: flex;
  justify-content: center;
  font-family: Georgia;
  font-weight: bold;
  font-size: 200%;
  padding-top: 6.5vh;
}

.Featured__questions {
  margin-top: 7vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Featured__left1 {
  margin: 10px 20px 20px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.Featured__right1 {
  margin: 10px 20px 20px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.Date {
  font-size: smaller;
}

.Featured__TotalRight,
.Featured__TotalLeft {
  background-color: #1a1a1b;
  border-radius: 10px;
  margin-left: 5vh;
  flex-grow: 0.3;
  margin-top: 10vh;
}

.Featured__Text {
  font-family: UbuntuBold;
}

.Featured__left2,
.Featured__right2 {
  margin: 30px;
  border-radius: 10px;
  margin-top: 3vh;
}

.Featured__Button {
  display: flex;
  margin: auto;
  margin-top: 15vh !important ;
  background-color: lightgreen;
  width: 55vh;
  height: 7vh;
  border-radius: 8px;
  color: white;
}

.MuiButton-root {
  font-family: UbuntuBold !important;
  text-transform: none !important;
}

@media only screen and (max-width: 768px) {
  .Featured {
    height: 800px;
  }
}
