@font-face {
  font-family: "UbuntuBold";
  src: url("./Fonts/Ubuntu-Bold.ttf");
}

.Header {
  background-color: #0c0c0d;
  display: flex;
  height: 10vh;
}

.Header__logo {
  object-fit: contain;
  width: 2.5%;
  margin-bottom: 1vh;
  margin-left: 4vh;
  margin-top: 1vh;
  min-width: 25px;
}

.Header__Main {
  margin: auto;
  display: flex;
  justify-content: center;
}

.Header__Home {
  color: #2bb296;
  padding-right: 20%;
  font-family: UbuntuBold;
}

.Header__Questions {
  color: #95a5a6;
  padding-left: 30%;
  font-family: UbuntuBold;
}
