@font-face {
  font-family: "UbuntuBold";
  src: url("./Fonts/Ubuntu-Bold.ttf");
}

.Header {
  background-color: #0c0c0d;
  display: flex;
  height: 10vh;
}

.Header__logo {
  object-fit: contain;
  width: 6vh;
  margin-left: 4vh;
  margin-top: 2vh;
  min-width: 25px;
}

.Header__Main {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header__Home {
  color: #2bb296;
  font-family: UbuntuBold;
  text-decoration: none;
  padding-right: 7vh;
}

.Header__Questions {
  text-decoration: none;
  color: #95a5a6;
  font-family: UbuntuBold;
  padding-left: 7vh;
}

a {
  width: 0%;
}
