.Header {
  background-color: #28343f;
  display: flex;
  height: 10vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.Header__logo {
  object-fit: contain;
  width: 2.5%;
  margin-bottom: 1vh;
  margin-left: 4vh;
  margin-top: 1vh;
  min-width: 25px;
}

.Header__Main {
  margin: auto;
  display: flex;
  justify-content: center;
}

.Header__Home {
  color: #3498db;
  padding-right: 20%;
}

.Header__Questions {
  color: #95a5a6;
  padding-left: 30%;
}
