@font-face {
  font-family: "UbuntuBold";
  src: url("./Fonts/Ubuntu-Bold.ttf");
}
@font-face {
  font-family: "UbuntuMedium";
  src: url("./Fonts/Ubuntu-Medium.ttf");
}

.Modal__Header {
  font-family: UbuntuMedium;
  display: flex;
  justify-content: center;
  margin-bottom: 3.5vh;
  color: White;
  font-size: 4vh;
}

.Modal__Question {
  font-family: UbuntuMedium;
  margin-left: 3vh;
  color: white;
}
.Modal__Question > p {
  margin-bottom: 1.5vh;
}
.input {
  font-family: UbuntuMedium;
  color: white;
  width: 90%;
  height: 5vh;
  border-radius: 10px;
  position: relative;
  background-color: #33343c;
  transition: 0.3s all;
  border: none;
  outline: none;
  text-indent: 30px;
}

.input::placeholder {
  color: white;
}

.Modal__Submit {
  margin-top: 4vh;
  display: flex;
  justify-content: center;
}

.Modal__Submit > button {
  width: 18vh;
  height: 5vh;
  background-color: #2bb296;
  color: white;
  border-radius: 10px;
  border: none;
  outline: none;
}

.Modal__Submit > button:hover {
  background-color: #2bb296;
}

.Featured__Checkbox {
  display: flex;
  align-content: center;
  margin-left: 1.5vh;
}
.Featured__PollAnswers {
  font-family: UbuntuMedium;
  color: white;
  align-self: center;
  font-size: 2vh;
  margin-bottom: 0.2vh;
}

.flex {
  display: flex;
}

.Modal__Sign {
  width: 200%;
  height: 200%;
}
